<h1>Ingredients#index</h1>
<p>Find me in app/views/ingredients/index.html.erb</p>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= "#{ingredient.name}: #{ingredient.cost}" %></li>
  <%end%>
</ul>

